@model Student;
@{
    ViewData["Title"] = "แก้ไขข้อมูลนักเรียน";
}

<div class="container">
    <h2 class="text-center">แก้ไขข้อมูลนักเรียน</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="POST" asp-controller="Student" asp-action="EditStudents" onsubmit="return validateScore()">
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="FirstName">ชื่อ</label>
                    <input type="text" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">นามสกุล</label>
                    <input type="text" asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collect">คะแนนเก็บ</label>
                    <input type="number" asp-for="Collect" class="form-control" />
                    <span asp-validation-for="Collect" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mid">คะแนนสอบกลางภาค</label>
                    <input type="number" asp-for="Mid" class="form-control" />
                    <span asp-validation-for="Mid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Final">คะแนนสอบปลายภาค</label>
                    <input type="number" asp-for="Final" class="form-control" />
                    <span asp-validation-for="Final" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Total">คะแนนรวม</label>
                    <input type="number" asp-for="Total" class="form-control" disabled />
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary my-2">อัพเดต</button>
                    <button type="button" class="btn btn-danger my-2" onclick="history.back()">ยกเลิก</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>

    function validateScore() {
        var collect = parseFloat(document.getElementById('Collect').value);
        var mid = parseFloat(document.getElementById('Mid').value);
        var final = parseFloat(document.getElementById('Final').value);

        var total = collect + mid + final;
        if (total > 100) {
            alert('ผลรวมของคะแนนเกิน 100 คะแนน');
            return false;
        }
        return true;
    }
</script>